extends base-email

block content
    p 안녕하세요 고객님,
    p 고객님의 비밀번호를 초기화 하시겠습니까?
    p 아래의 링크를 클릭 후, 고객님의 이메일 주소와 비밀번호 livfarm으로 접속해주세요.
    p 만약 초기화 요청을 하지 않으셨다면 이 이메일은 신경쓰지 않으셔도 됩니다.
    p 초기화된 비밀번호로 접속 시, 반드시 '마이팜' -> '비밀번호 변경' 탭에서 비밀번호를 변경해주세요.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') 비밀번호 초기화하기
