footer.footer
    .footer__logo
        img(src="/img/assets/app-logo.png" alt="livFarm logo" )
    ul.footer__nav 
        li: a(href="http://livfarm.com") About us
    p.footer__copyright &copy; by livFarm